@page "/"
@using Tournament.Shared.Tournaments

<PageTitle>@Loc["Label_Badminton"]</PageTitle>

@if (Tournaments != null)
{
    @foreach (var tourney in Tournaments)
    {
        var href = $"tournament/{tourney.Id}";
        <MudLink Href="@href">
            <MudText Typo="Typo.h4" GutterBottom="true">@tourney.Name</MudText>
            <MudText Typo="Typo.caption" GutterBottom="true">@tourney.Description</MudText>
        </MudLink>
    }
}

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    [Inject] TournamentService TournamentService { get; set; }

    ICollection<TournamentModel>? Tournaments { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Tournaments = await TournamentService.GetTournaments();
    }
}