@page "/tournament/{Id:guid}/group/{TournamentGroupId:guid}"

@if (model != null && model.TournamentRounds != null)
{
    @if (model.TournamentRounds.Count == 6)
    {
        <link href="css/tourney/64grid.css" rel="stylesheet" />
    }
    else if (model.TournamentRounds.Count == 5)
    {
        <link href="css/tourney/32grid.css" rel="stylesheet" />
    }
    else if (model.TournamentRounds.Count == 4)
    {
        <link href="css/tourney/16grid.css" rel="stylesheet" />
    }
    else if (model.TournamentRounds.Count == 3) 
    {
        <link href="css/tourney/8grid.css" rel="stylesheet" />
    }
    else 
    {
        <link href="css/tourney/4grid.css" rel="stylesheet" />
    }
    <div class="tournament-container">
        <div class="tournament-headers">
            @for (var i = 0; i < model.TournamentRounds.Count; i++) 
            {
                <h3>Round of @model.TournamentRounds[model.TournamentRounds.Count - i - 1].Round</h3>
            }
        </div>
        @{
            var countOfPositions = (int)Math.Pow(2, model.TournamentRounds.Count);
        }
        
        <div class="tournament-brackets">
          @*  @for (var i = 0; i < countOfPositions; i++)
            {
                
            }*@
            @{
                var indexFrom = 0;
            }
            @for (var j = model.TournamentRounds.Count - 1; j >= 0; j--)
            {
                @* normlizing + 1 and matches count is / 2 of positions *@
                var indexTo = (countOfPositions / (j + 1)) - 1;
                var round = model.TournamentRounds[j];
                <Bracket Round="round.Round" Matches="round.Matches" IndexFrom="indexFrom" IndexTo="indexTo"></Bracket>
            } 
     
        </div>

@*        @for (var i = model.TournamentRounds.Count - 1; i >= 0; i--)
        {
            for (var j = 0; j < countOfTrees; j++)
            {
                var round = model.TournamentRounds[i];
                <div class="tournament-brackets">
                    <Bracket Round="round.Round" Matches="round.Matches"></Bracket>
                </div>
            }
        }*@
    </div>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    [Parameter]
    public Guid TournamentGroupId { get; set; }

    [Inject] TournamentService TournamentService { get; set; }
    [Inject] TournamentGroupService TournamentGroupService { get; set; }

    TournamentGroupViewModel model;

    protected override async Task OnInitializedAsync()
    {
        model = new TournamentGroupViewModel(TournamentService, TournamentGroupService, Id, TournamentGroupId);
        await model.Load();
    }
}