@inject IJSRuntime jsr

<p>
	@if (string.IsNullOrEmpty(username))
	{
		<span><a href="/register" style="color:white;">@Loc["Header_Register"]</a> <a href="/login" style="color:white;">@Loc["Header_Login"]</a></span>
	}
	else
	{
		<span style="color:white;">@Loc["Label_Hello"], @username <a href="/logout" style="color:white;">(@Loc["Label_Logout"])</a></span>
	}
</p>

@code {

	string username = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		var userdata = await jsr.InvokeAsync<string>("localStorage.getItem", "user").ConfigureAwait(false);
		if (!string.IsNullOrWhiteSpace(userdata))
		{
			username = userdata.Split(';', 2)[0];
		}
	}
}
